### Repository Specific ###
build*
3rdparty/LatentSDK*
3rdparty/pittpatt*

### Generic ###
*.log
*.user

### Latex ###
*.aux
*.nav
*.out
*.snm
*.toc

### QtCreator ###
*CMakeLists.txt.user*

### R ###
*.RData
*.Rhistory

### Subversion ###
*.svn*

### Synology ###
*.DS*
