[submodule "share/openbr/models"]
	path = share/openbr/models
	url = https://github.com/biometrics/openbr-models.git
[submodule "share/openbr/doc"]
	path = share/openbr/doc
	url = https://github.com/biometrics/openbr-doc.git
[submodule "openbr/janus"]
	path = openbr/janus
	url = https://github.com/biometrics/janus.git
